.form-container {
  padding: 40px;
  background-color: var(--ant-color-bg-base);
}

.user-form {
  background-color: var(--ant-color-bg-container);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
}

.form-submit {
  text-align: center;
}

.ant-btn-primary {
  width: 100%;
}
